
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

    
    <div class = "container">

        <div id ="intro">
            <h1><strong>NEWS HIGHLIGHTS</strong></h1>
        </div>
       



    {% extends 'base.html'%}




    {% import 'macros.html' as macro %}

    <!-- Styles block -->


    <!-- Content block -->

        {% block content %}

            <ul>
                {{ macro.displaySourceList(sources) }}
            </ul>
                

        {% endblock %}
    </div>



  

  